name: Linux wheel

on:
  release:
    types: [created]

jobs:
  build:

    runs-on: ubuntu-latest
    env:
      THROTTLE_CROSS_COMPILATION_TARGET: x86_64-unknown-linux-musl

    steps:
    - name: Setup cross
      run: |
        cargo install cross  
    - uses: actions/checkout@v2
    - name: Build server
      run: |
        cross build --release --target $THROTTLE_CROSS_COMPILATION_TARGET
    - name: Set up Python
      uses: actions/setup-python@v1
      with:
        python-version: 3.8
    - name: Package as wheel
      run: |
        python -m pip install --upgrade pip
        pip install setuptools wheel twine
        python setup.py bdist_wheel
        ls ./dist
        for f in ./dist/*cp38-cp38-linux_x86_64.whl; do mv "$f" "${f%cp38-cp38-linux_x86_64.whl}py2.py3-none-manylinux1_x86_64.whl"; done;
        ls ./dist
    - name: Publish to PyPI
      env:
        TWINE_USERNAME: ${{ secrets.PYPI_USERNAME }}
        TWINE_PASSWORD: ${{ secrets.PYPI_PASSWORD_SERVER }}
      run: |
        twine upload dist/*
