name: Release Binaries to GitHub

on:
  release:
    types: [created]
  
jobs:
  release_win64:
    name: Build and release Windows 64Bit
    runs-on: windows-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Build
        run: |
          cargo build --release
          Compress-Archive -LiteralPath target/release/throttle.exe -DestinationPath throttle-win64.zip
      - name: Github Upload
        uses: svenstaro/upload-release-action@v1-release
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: throttle-win64.zip
          asset_name: throttle-win64.zip
          tag: ${{ github.ref }}

  release_os-x:
    name: Build and release OS-X
    runs-on: macos-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Install latests rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          default: true
          override: true
      - name: Build
        run: cargo build --release
      - name: Github Upload
        uses: svenstaro/upload-release-action@v1-release
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: target/release/throttle
          asset_name: throttle-osx
          tag: ${{ github.ref }}

  release_musl_linux:
    name: Build and release for musl Linux
    runs-on: ubuntu-latest
    steps:
      - name: Setup cross
        run: cargo install cross  
      - uses: actions/checkout@v2
      - name: Build server
        run: cross build --package throttle-server --release --target x86_64-unknown-linux-musl
      - name: Github Upload
        uses: svenstaro/upload-release-action@v1-release
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: target/x86_64-unknown-linux-musl/release/throttle
          asset_name: throttle-linux-musl
          tag: ${{ github.ref }}