# This workflows will upload a Crate using cargo when a release is created

name: Upload Cargo Crate

on:
  push:
    # Sequence of patterns matched against refs/tags
    tags:
      - 'v*' # Push events to matching v*, i.e. v1.0, v20.15.10

jobs:
  deploy:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6
    - name: Build and publish
      env:
        CARGO_TOKEN: ${{ secrets.CRATES_IO_TOKEN }}
      run: |
        cd rust_client && cargo publish --token "${CARGO_TOKEN}"
        cd -
        cd server && cargo publish --token "${CARGO_TOKEN}"
        

